---
layout: page
title: photography
permalink: /photography.html
priority: 20
---
<div class="photography">
  <div class="photography-links">
     Albums<br>
     <a href="#asia">
       <div class="button white">
         Asia
       </div>
     </a>
     <a href="#israel">
       <div class="button white">
         Israel
       </div>
     </a>
     <a href="#other">
       <div class="button white">
         Other
       </div>
     </a>
     <a href="http://www.flickr.com/photos/eithanshavit/sets/">
       <div class="button white" style="color: rgb(255, 88, 119);">
         Flickr
       </div>
     </a>
  </div>
  <a id="asia"><h1>Some photos I took while travelling in Asia</h1></a>
  <div class="images-loaded-container">
     <div class="photography-gallery">
        <ul>
          {% for image in site.data.photography_east_images %}
             <li class="image-is-loading">
               <a class="swipebox" href="{{image.url}}" rel="swipebox[{{image.category}}]"><img src="{{image.thumbUrl}}" alt=""/></a>
             </li

           </div>
           {% endfor %}
        </ul>
     </div>
  </div>
  <a id="israel"><h1>From around Israel</h1></a>
  <div class="images-loaded-container">
     <div class="photography-gallery">
        <ul>
          {% for image in site.data.photography_israel_images %}
             <li class="image-is-loading">
               <a class="swipebox" href="{{image.url}}" rel="swipebox[{{image.category}}]"><img src="{{image.thumbUrl}}" alt=""/></a>
             </li>
           {% endfor %}

         </p>
        </ul>
     </div>
  </div>
  <a id="other"><h1>Some more photos</h1></a>
  <div class="images-loaded-container">
     <div class="photography-gallery">
        <ul>
          {% for image in site.data.photography_more_images %}
             <li class="image-is-loading">
               <a class="swipebox" href="{{image.url}}" rel="swipebox[{{image.category}}]"><img src="{{image.thumbUrl}}" alt=""/></a>
             </li>
           {% endfor %}
        </ul>
     </div>
  </div>
  <h2>Even more on my <a target="_blank" href="http://www.flickr.com/photos/eithanshavit/sets/">Flickr page</a>.</h2>
  <br>
  <br>
  <br>
</div>
