/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: HelveticaNeue-Thin, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 1.0;
    font-weight: 300;
    color: #000;
    background-color: #FFF;
    -webkit-text-size-adjust: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 15px;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: #CE0063;
    &:hover {
      color: #21BB46;
    }
    text-decoration: none;
}



/**
 * Blockquotes
 */
blockquote {
    color: #f3f3f3;
    border-left: 4px solid #f3f3f3;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}





/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.button {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px 3px 3px 3px;
  border-color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 0px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 12.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */

  @include media-query-max($on-small) {
    width: 22%; /* auto */
  }
  &.white {
    background: none repeat scroll 0 0 #ffffff;
    color: #000;
    &:hover {
      background: none repeat scroll 0 0 #3f3f3f;
      color: #FFF;
    }
  }
}
