<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="anchor" class="category-content wrapper">
      <div class="category-title">
        {{ content }}
      </div>
      <div class="category-excerpts">
        {% assign sorted_posts = site.posts | sort: 'priority' %}
        {% for post in sorted_posts %}
          {% if post.categories contains page.category_index %}
              <div class="category-excerpt">
                <a href="{{ post.url }}#anchor"</a>
                  <div class="category-excerpt-icon">
                    <img class='menu-icon' src="{{ post.logo }}">
                  </div>
                  <div class="category-excerpt-text">
                    <div class="category-excerpt-title">
                     {{ post.title }}
                     <span class="category-excerpt-date"> - {{ post.date | date: "%b %-d, %Y" }}</span>
                    </div>
                    <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                  </div>
                </a>
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>



</div>
  </body>

</html>
